# Text, zipped and CSV files are data
*.txt
*.csv
*.xz

# Temporary files used while saving the .py files
*.tmp

# Images and Videos files
*.png
*.mov

# Logs file for info
*.log

# Java files
*.class
